html {
  min-height: 100%;
}

body {
  background-color: #29273e;
  height:100%;
  position: relative;
}

a {
  font-size : 0px;
  width: 0px;
  height: 0px;
  font-weight: 0px;
}

h1 {
  font-size: 320%;
  color: white;
  font-family: Arial;
  line-height: 120%;
  max-width: 75%;
}

h2 {
  font-size: 200%;
  font-weight: 300;
  color: white;
  font-family: Arial;
  line-height: 120%;
  max-width: 75%;
}

p {
  font-size: 120%;
  font-weight: 240;
  color: white;
  font-family: Arial;
  line-height: 120%;
  max-width: 85%;
  
}

label {
  font-size: 120%;
  font-weight: 200;
  color: white;
  font-family: Arial;
  line-height: 200%;
  max-width: 75%;
}

select {
  color: white;
  background-color: #29273f;
  border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
  font-size: 100%;
  font-family: Arial;
  display: inline-block;
}

.topnav {
	border-radius: 6px 6px 6px 6px;
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	background-color: #1d1a2c;
	max-width: 89%;
	margin-top: 16px;
	line-height: 0px;
	margin-right: 2px;
}

.navseperator {
	border-color: #cccccc;
	border-left-width: 1px;
	border-right-width: 0px;
	width: 0%;
	border-style: solid;
	height: 83px;
	margin-left: 3px;
	position: absolute;
	display: inline-block;
  white-space: nowrap;
	margin-top: 4px;
	margin-bottom: 4px;
}

.downbarnavseperator {
	z-index: 1;
	border-color: #cccccc;
	border-left-width: 1px;
	border-right-width: 0px;
	width: 0%;
	border-style: solid;
	height: 83px;
	margin-left: -5px;
	left: calc(90% - 71px);
	overflow:hide;
	position: absolute;
	display: inline-block;
  white-space: nowrap;
	margin-top: 4px;
	margin-bottom: 4px;
}

.topnav > a{
	margin-top: 0px;
	margin-bottom: 0px;
}

.downbar {
  max-width:96px;
  min-width: 96px;
  position: absolute;
  display: inline;
  right: calc(10% + 5px);
  border: none;
  min-height: 96px;
  max-height: 96px;
  border-radius: 6px 6px 6px 6px;
}

.downbarimg {
  max-width:32px;
  min-width: 32px;
  max-height:32px;
  min-height: 32px;
  margin-top: 33%;
  display: inline-block;
  white-space: nowrap;
}
.button1 {
  font-size: 0px;
  margin-left: 3px;
  max-width:96px;
  min-width: 96px;
  transition: background 0.2s ease;
  background: #1d1a2c;
  border: none;
  cursor: pointer;
  text-align: center;
  min-height: 96px;
  max-height: 96px;
  border-radius: 6px 6px 6px 6px;
  display: inline-block;
  white-space: nowrap;
}

.button1 > p{
  color: #d35040;
  transition: color 0.2s ease;
  font-size:12px;
  line-height: 100%;
  white-space: normal;
  position: absolute;
  max-width: 48px;
  min-width: 48px;
  max-height: 16px;
  min-height: 16px;
  text-align: center;
  margin-left: 18px;
  margin-top: -0.5%;
}

.button1 > img {
  filter: brightness(100%);
  transition: filter 0.2s ease;
  max-width: 32px;
  min-width: 32px;
  max-height: 32px;
  min-height: 32px;
  margin-bottom: -22%;
  margin-top: 22%;
}

.button1:hover * {
  color: #ffffff;
  transition: background 0.2s ease;
  cursor: pointer;
}

.button1:hover > img {
  filter: brightness(1000%);
  transition: filter 0.2s ease;
}

.button1:hover {
  background: #d35040;
  transition: background 0.2s ease;
}


.banner {
    display: block;
	width: calc(89% - 2px);
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	height: 100%;
}

.sprites {
	width: 514px;
	height: 258px;
}

.widgets {
  border-radius: 6px 6px 6px 6px;
  background: none;
  display: inline;
  overflow: hidden;
  border-width: 1px;
  top: -1px;
  border-style: none;
  border-color: #ffffff;
  position: absolute;
  min-width:64px;
  min-height: 68px;
  max-height: 68px;
  left: calc(90% - 55px);
  line-height: 64px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.widgets:hover {
  background: #1d1a2c;
  border-style: solid;
  display: inline;
  min-height: 360px;
  max-height: 360px;
  transition: min-height 0.2s ease, max-height 0.2s ease;
  z-index: 2;
}

.spigot {
	filter: brightness(100%);
	transition: filter 0.2s ease;
	position: absolute;
    display: block;
	width: 32px;
	height: 32px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
	margin-top: 16px;
}

.spigot:hover {
  filter: brightness(1000%);
  transition: filter 0.2s ease;
}

.discord {
	filter: brightness(100%);
	transition: filter 0.2s ease;
	position: absolute;
	position: absolute;
    display: block;
	width: 32px;
	height: 32px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
	margin-top: 16px;
}

.discord:hover {
  filter: brightness(1000%);
  transition: filter 0.2s ease;
}

.youtube {
	filter: brightness(100%);
	transition: filter 0.2s ease;
	position: absolute;
	position: absolute;
    display: block;
	width: 32px;
	height: 32px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
	margin-top: 16px;
}

.youtube:hover {
  filter: brightness(1000%);
  transition: filter 0.2s ease;
}

.github {
	filter: brightness(100%);
	transition: filter 0.2s ease;
	position: absolute;
	position: absolute;
    display: block;
	width: 32px;
	height: 32px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
	margin-top: 16px;
}

.github:hover {
  filter: brightness(1000%);
  transition: filter 0.2s ease;
}

html,body{min-height:100%;}


.footer {
  float: left;
  flex-flow: row wrap;
  padding-bottom: 50px;
  margin: 0 calc(-0.06% - 6px);
  padding: 0 calc(0.06% + 6px);
  width: 100%;
  height: 80px;
  background-color: #1d1a2c;
  bottom: 0px;
  font-family: Arial;
  font-size: 16px;
  line-height: 12px;
  color: #dddddd;
  font-weight: 200;
  text-align: center;
}

.pad {
	padding-left: 9.4%;
}

.buttonlink {
  display: block;
	width: 64px;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
}

.textlink {
  font-size: 18px;
  font-weight: 240;
  color: #d35040;
  font-family: Arial;
  line-height: 24px;
  max-width: 1536px;
  text-decoration: none;
}

.textlink:hover {
  font-size: 18px;
  font-weight: 240;
  color: #ffffff;
  font-family: Arial;
  line-height: 24px;
  max-width: 1536px;
  text-decoration: none;
}

.fishbutton {
  font-family: Arial;
  max-width: calc(49.75% - 64px);
  min-width: calc(49.75% - 64px);
  height: 36px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  background-color: #1d1a2c;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 16px;
}

.fishbutton:hover {
  background-color: #d35040;
  transition: background 0.2s ease;
  cursor: pointer;
}

.fishbutton:active:hover {
  background-color: #1d1a2c;
  transition: background 0.1s ease;
  cursor: pointer;
}

.unclebutton {
  font-family: Arial;
  min-width: 200px;
  height: 36px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  background-color: #1d1a2c;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 16px;
}

.unclebutton:hover {
  background-color: #d35040;
  transition: background 0.2s ease;
  cursor: pointer;
}

.unclebutton:active:hover {
  background-color: #1d1a2c;
  transition: background 0.1s ease;
  cursor: pointer;
}

.shopbutton {
  font-family: Arial;
  width: 20%;
  height: 96px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  background-color: #1d1a2c;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 16px;
}

.shopbutton:hover {
  background-color: #d35040;
  transition: background 0.2s ease;
  cursor: pointer;
}

.shopbutton:active:hover {
  background-color: #1d1a2c;
  transition: background 0.1s ease;
  cursor: pointer;
}

.leaderboards {
  min-width: 30%;
  min-height: 560px;
  max-width: 30%;
  max-height: 560px;
  position: absolute;
  left: calc(59.7% - 16px);
  margin-top: -20px;
  display: inline-block;
}


.leaderboardtext {
  font-family: Arial;
  display: inline;
  font-size: 2vw;
}

.leaderboardlist {
  font-family: Arial;
  margin-top: 10px;
  min-width: calc(100% - 18px);
  min-height: 551px;
  max-width: calc(100% - 18px);
  max-height: 551px;
  overflow-y: scroll;
  background-color: #1d1a2c;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
}

ol {
  list-style-position: inside;
}

li {
  font-family: Arial;
  color: white;
  font-size: 1.8vw;
  margin-left: -30px;
}

.nicebutton {
  font-family: Arial;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px 4px 4px 4px;
  background-color: #1d1a2c;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 16px;
  min-height: 24px;
}

.nicebutton:hover {
  background-color: #d35040;
  transition: background 0.2s ease;
  cursor: pointer;
}

.nicebutton:active:hover {
  background-color: #1d1a2c;
  transition: background 0.1s ease;
  cursor: pointer;
}

input {
  font-family: Arial;
  border: none;
  cursor: text;
  border-radius: 1px 1px 1px 1px;
  background-color: rgb(29, 26, 44);
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  display: inline-block;
  white-space: nowrap;
  color: white;
  width: 200px;
  height: 24px;
  font-size: 16px;
}

.shop {
  background-color: #1d1a2c;
  min-width: 502%;
  margin-left: -200%;
  min-height: 500%;
  margin-top: -200.5%;
  background:rgba(29, 26, 44,0.5);
  position: fixed;
  z-index: 3;
  display: none;
  overflow-y: hide;
}

.rarefishinfo {
  background-color: #1d1a2c;
  position: fixed;
  display: block;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  left: calc(50% - 256px);
  bottom: calc(50% - 256px);
  min-width: 512px;
  min-height: 512px;
  max-width: 512px;
  max-height: 512px;
  z-index: 100;
  overflow-y: scroll;
}

.shoptitle {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.leaderboardselect {
  margin-left: 4%;
  display: inline-block;
  min-width: 25%;
  font-size: 1.5vw;
}

.info {
  display: inline-block;
}

.inlineheader {
  display: inline-block;
  font-size: 1vw;
}

[title] {
  display: block;
  margin: 0 0 1em 0;
}

[title] + span.createdTooltip {
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  font-family: Arial;
}

[title]:hover + span.createdTooltip {
  display: block;
  position: absolute;
}

.captcha {
  background-color: #1d1a2c;
  min-height: 100vh;
  background:rgba(29, 26, 44,0.5);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
  margin: 0 auto;
  z-index: 30;
  display: none;
}

.captcha > form {
  margin-top: 25%;
  margin-left: calc(50% - 225px);
  margin-right: calc(50% + 225px);
}

.g-recaptcha {
  transform:scale(1.5);
  transform-origin:0 0;
}

.submitcaptcha {
  width: 450px;
  margin-top: 40px;
  min-height: 50px;
  cursor: pointer;
}

.submitcaptcha:hover {
  background-color: #d35040;
  transition: background 0.2s ease;
}

.submitcaptcha:hover:active:hover {
  background-color: #1d1a2c;
  transition: background 0.1s ease;
}

.websiteurl {
  width: 89%;
}

.fishbar {
  min-width: calc(45% - 84px);
  min-height: 44px;
  max-width: calc(45% - 84px);
  max-height: 44px;
  position: absolute;
  margin-top: -10px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #ffffff;
  background-color: #1d1a2c;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
}

.fishbar::-webkit-scrollbar {
  display: none;
}

.longbarseperator {
  border-color: #cccccc;
	border-left-width: 0px;
	border-right-width: 0px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  min-width: calc(100% - 4px);
	max-width: 30%;
  top: 16px;
  max-height: 1px;
	border-style: solid;
	height: 1px;
	margin-left: 2px;
	position: absolute;
	display: absolute;
  white-space: nowrap;
	margin-top: 3px;
	margin-bottom: 1px;
}

.fishtype {
  display: inline-block;
  min-width: 75px;
  width: 12%;
  max-width: 12%;
  line-height: 0px;
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 4px;
  font-size:11px;
}
.fishdata {
  display: inline-block;
  min-width: 75px;
  width: 12%;
  max-width: 12%;
  line-height: 0px;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 4px;
  font-size:18px;
}

.sendfishbackground {
  min-width: 26.4%;
  min-height: 128px;
  max-width: 26.4%;
  margin-left: 10px;
  max-height: 128px;
  position: absolute;
  margin-top: 0px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #ffffff;
  background-color: #1d1a2c;
  display: inline-block;
}

textarea {
  font-family: Arial;
  border: none;
  cursor: text;
  border-radius: 1px 1px 1px 1px;
  background-color: rgb(29, 26, 44);
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  display: inline-block;
  color: white;
  width: 200px;
  height: 24px;
  font-size: 16px;
}

.chatbox {
  min-width: 49.75%;
  min-height: 256px;
  max-width: 49.75%;
  max-height: 256px;
  margin-top: 0px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #ffffff;
  background-color: #1d1a2c;
  display: inline-block;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.loginbox {
  min-width: 256px;
  min-height: 256px;
  max-width: 256px;
  left: 50%;
  margin-top: 96px;
  transform: translate(-50%, -50%);
  max-height: 256px;
  position: absolute;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #ffffff;
  background-color: #1d1a2c;
  display: inline-block;
}

.center {
  left: 50%;
  margin-top: 16px;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  background-color: #1d1a2c;
  outline-style: solid;
  outline-color: #ffffff;
  outline-width: 1px;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #d35040;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d35040;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
} 

.innactivebutton {
  font-family: Arial;
  max-width: calc(49.75% - 64px);
  min-width: calc(49.75% - 64px);
  height: 36px;
  border: none;
  cursor: default;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  background-color: #1b1927;
  outline-width: 1px;
  outline-color: #cccccc;
  outline-style: solid;
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 16px;
}

.slotmachine {
  min-width: 24%;
  min-height: 5vw;
  max-width: 24%;
  max-height: 5vw;
  margin-top: 16px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #ffffff;
  background-color: #1d1a2c;
  display: inline-block;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
}

.specialfixbox {
  min-width: calc(30% + 22px);
  min-height: 160px;
  max-width: calc(30% + 22px);
  max-height: 512px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #ffffff;
  background-color: #1d1a2c;
  display: inline-block;
}

.sendlogs {
  background-color: #1d1a2c;
  position: fixed;
  display: block;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  left: calc(50% - 256px);
  bottom: calc(50% - 256px);
  min-width: 512px;
  min-height: 512px;
  max-width: 512px;
  max-height: 512px;
  z-index: 100;
  overflow-y: scroll;
}

.sendlog {
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  position: relative;
  margin-left: 2%;
  margin-top: 2%;
  width: 96%;
  height: 128px;
}

.sendlogtext {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  transform: translate(0, 15%);
  font-size: 26px;
  line-height: 32px;
}

.pixelfish {
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  min-width: 25%;
  min-height: calc(22.75vw - 8px);
  max-width: 25%;
  max-height: calc(22.75vw - 8px);
  display: inline-block;
  margin-left: 25%;
  background-color: #1d1a2c;
}

.pixelfishfullsecreen {
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  min-width: 100%;
  min-height: 100%;
  bottom: 0%;
  right: 0%;
  max-width: 100%;
  max-height: 100%;
  z-index: 1000;
  display: inline-block;
  position: fixed;
  background-color: #1d1a2c;
}

.pixelfishcanvas {
  position: absolute;
  width: 22.25%;
  margin-left: 0.2%;
  margin-top: 0.2%;
}

.pixelcanvasfullscreen {
  position: relative;
  width: calc(100vh - 32px);
  max-width: 50vw;
  height: calc(100% - 32px);
  margin: auto;
  transform: translate(50%, 16px);
}

.xpbar {
  min-width: calc(45% - 76px - 84px);
  min-height: 24px;
  max-width: calc(45% - 76px - 84px);
  max-height: 24px;
  position: absolute;
  margin-left: 76px;
  margin-top: -10px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #ffffff;
  background-color: #1d1a2c;
  display: inline-block;
}

.nicebutton > img {
  filter: brightness(100%);
  transition: filter 0.2s ease;
}

.nicebutton:hover > img {
  filter: brightness(1000%);
  transition: filter 0.2s ease;
}

.viewprofile {
  background-color: #1d1a2c;
  min-width: 502%;
  margin-left: -200%;
  min-height: 500%;
  margin-top: -200.5%;
  background:rgba(29, 26, 44,0.5);
  position: fixed;
  z-index: 3;
  display: none;
}

.profilebackground {
  background-color: #1d1a2c;
  position: fixed;
  display: block;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  left: calc(50% - 384px);
  bottom: calc(50% - 256px);
  width: 768px;
  min-height: 512px;
  max-width: 768px;
  max-height: 512px;
  z-index: 1000;
}