body {
  background-color: #29273e;
}

h1 {
  font-size: 320%;
  color: white;
  font-family: Arial;
  line-height: 120%;
  max-width: 89%;
}

h2 {
  font-size: 200%;
  font-weight: 300;
  color: white;
  font-family: Arial;
  line-height: 120%;
  max-width: 89%;
}

p {
  font-size: 120%;
  font-weight: 240;
  color: white;
  font-family: Arial;
  line-height: 120%;
  max-width: 89%;
  
}

.widgets {
	position: absolute;
	left: calc(89% - 32px);
	line-height: 64px;
}

.banner {
    display: block;
	width: 89%;
	height: 100%;
}

.sprites {
	width: 514px;
	height: 258px;
}

.spigot {
	position: absolute;
    display: block;
	width: 32px;
	height: 32px;
	margin-left: auto;
	left: 88%;
}

.discord {
	position: absolute;
    display: block;
	width: 32px;
	height: 32px;
	margin-left: auto;
	left: 88%;
}

.youtube {
	position: absolute;
    display: block;
	width: 32px;
	height: 32px;
	margin-left: auto;
	left: 88%;
}

.github {
	position: absolute;
    display: block;
	width: 32px;
	height: 32px;
	margin-left: auto;
	left: 88%;
}

html,body{min-height:100%;}


.footer {
  float: left;
  flex-flow: row wrap;
  padding-bottom: 50px;
  margin: 0 calc(-0.06% - 6px);
  padding: 0 calc(0.06% + 6px);
  width: 100%;
  height: 80px;
  background-color: #1d1a2c;
  bottom: 0px;
  font-family: Arial;
  font-size: 16px;
  line-height: 12px;
  color: #dddddd;
  font-weight: 200;
  text-align: center;
}

.pad {
	padding-left: 9.4%;
}

.textlink {
  font-size: 18px;
  font-weight: 240;
  color: #d35040;
  font-family: Arial;
  line-height: 24px;
  max-width: 1536px;
  text-decoration: none;
}